.search-container {
  margin-bottom: 20px;
  display: inline;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  input {
    padding: 8px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .search-container {
    margin-bottom: 20px;
    margin:50px 200px;
   display: block;
  }
    }
    